name: Plugin asset/readme update

on:
  workflow_call:
    inputs:
      skip_assets:
        default: true
        type: boolean

jobs:
  trunk:
    name: Push to trunk
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Subversion
        run: sudo apt-get install subversion
      - name: WordPress.org plugin asset/readme update
        uses: 10up/action-wordpress-plugin-asset-update@develop
        env:
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SLUG: ${{ secrets.PLUGIN_SLUG }}
          SKIP_ASSETS: ${{ inputs.skip_assets }}
          IGNORE_OTHER_FILES: true
