name: Packaging WordPress Plugin

on:
  workflow_call:
    inputs:
      build:
        default: false
        type: boolean
      php:
        default: "7.0"
        type: string
      working-directory:
        default: sdk
        type: string
      retention-days:
        default: 3
        type: number

jobs:
  deploy:
    name: Packaging PHP${{ inputs.php }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        if: ${{ inputs.build }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ inputs.php }}
          tools: composer
      - name: Install dependencies
        if: ${{ inputs.build }}
        run:
          composer install -o --no-dev
        working-directory: ${{ inputs.working-directory }}

      - name: Set Version
        if: github.event_name == 'pull_request'
        run: |
          echo "VERSION=ci" >> $GITHUB_ENV

      - name: Packaging WordPress Plugin
        id: packaging
        uses: 10up/action-wordpress-plugin-deploy@develop
        with:
          dry-run: true
          generate-zip: true
        env:
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SLUG: ${{ secrets.PLUGIN_SLUG }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.event.repository.name }}-php${{ inputs.php }}
          path: ${{ steps.packaging.outputs.zip-path }}
          retention-days: ${{ inputs.retention-days }}

      - name: Upload release asset
        uses: actions/upload-release-asset@v1
        if: github.event_name == 'release'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ${{ steps.packaging.outputs.zip-path }}
          asset_name: ${{ github.event.repository.name }}-php${{ inputs.php }}.zip
          asset_content_type: application/zip
